.accordion {
  border: 1px solid #ccc;
  margin-top: 15px;
  border-radius: 5px;
  margin-bottom:5px;
}

.accordion-header {
  background-color: #ccc;
  padding: 5px;
  cursor: pointer;
}

.accordion-content {
  padding: 5px;
  display: none; 
  border-top: 1px solid #ccc;
}

.active .accordion-content {
  display: block;
}

.scroll{
  height: 800px; 
  overflow-y: scroll; 
}

.accordion-button{
  border: none;
  color: rgb(51, 47, 47);
  padding: 15px 32px;
  background-color: #ccc;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}