
<div class="scroll">
  <div class="accordion">
    <button type="button" id="button-monday" class="accordion-button" onclick="AddEvent('monday')">Добавить задачу</button>
    <div class="accordion-header"> <p>Понедельник</p> </div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>

  <div class="accordion">
    <button type="button" class="accordion-button" id="button-tuesday" onclick="AddEvent('tuesday')">Добавить задачу</button>
    <div class="accordion-header"><p>Вторник</p></div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>

  <div class="accordion">
    <button type="button" class="accordion-button" id="button-wednesday" onclick="AddEvent('wednesday')">Добавить задачу</button>
    <div class="accordion-header"> <p>Среда</p> </div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>

  <div class="accordion">
    <button type="button" class="accordion-button" id="button-thursday" onclick="AddEvent('thursday')">Добавить задачу</button>
    <div class="accordion-header"> <p>Четверг</p> </div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>

  <div class="accordion">
    <button type="button" class="accordion-button" id="button-friday" onclick="AddEvent('friday')">Добавить задачу</button>
    <div class="accordion-header"> <p>Пятница</p> </div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>

  <div class="accordion">
    <button type="button" class="accordion-button" id="button-saturday" onclick="AddEvent('saturday')">Добавить задачу</button>
    <div class="accordion-header"> <p>Суббота</p> </div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>

  <div class="accordion">
    <button type="button" class="accordion-button" id="button-sunday" onclick="AddEvent('sunday')">Добавить задачу</button>
    <div class="accordion-header"> <p>Воскресенье</p> </div>
    <div class="accordion-content"> <p>Привет</p> </div>
  </div>
</div>
