<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo" href="/home">ToDo</a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="/contact">Контакты</a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">Поддержать</a>
                    </li>
                    {% if isToken == false %}
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="/login">Войти</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="/register">Зарегистрироваться</a>
                        </li>
                    {% else %}
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="/login/exit">Выйти</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</header>