<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/accordion.css" />
    <link rel="stylesheet" href="../css/ header.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/contact.css">
    <title>Todo-приложение</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <a class="logo" href="/home">ToDo</a>
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="/contact">Контакты</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="#">Поддержать</a>
                        </li>
                        <li class="menu__list-item">
                            <a class="menu__list-link" href="/login">Войти</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>