{% extends "base.html.twig" %}
{% block content %}
<main class="login-main">
    <h1>Вход</h1>
        <form action="/login" method="POST" class="login-form">
            <div>
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="login" class="login-input" required>
            </div>

            <div>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" class="login-input" required>
            </div>
            {% if tryInput == false %}
            <p>Неправильно введены данные</p>
            {% endif %}
            <button type="submit" class="login-button-entry">Войти</button>
        </form>
</main>
{% endblock %}